



.btn-style {
    transition: 0.2s;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #0c5a1a;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.btn-style:hover{
    transition: 0.4s;
    background-color: #56B280;
    color: white;
    padding: 15px 25px;
}
.cart-product{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: #C1DBB3;
    margin: 10px;
}

.cart-product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.cart-product .product-info-con {
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart-product .product-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px 20px 10px 20px; 
    border-radius: 20px;
}

.cart-product .product-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart-a-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
